@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 40, 40, 43;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .underline-animation {
    @apply relative;
  }
  .underline-animation::after {
    @apply absolute scale-x-0 hover:scale-x-100 bottom-0 block w-full h-0.5 bg-[rgb(var(--foreground-rgb))] content-[''] transition-transform duration-500 origin-bottom-right hover:origin-bottom-left;
  }
}
